/* latin */

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v13/MDadn8DQ_3oT6kvnUq_2r_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


/* latin */

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v13/MgNNr5y1C_tIEuLEmicLmwLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


/* Global Values*/

html, body {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  color: rgb(112, 112, 112);
  line-height: 150%;
}

h2 {
  color: rgb(112, 112, 112);
  font-size: 2rem;
  font-weight: bold;
  padding-top: 2rem;
}

h4 {
  color: rgb(112, 112, 112);
  font-size: 1.3rem;
  font-weight: bold;
  padding-bottom: .5rem;
}

h5 {
  font-size: 0.75rem;
  padding: 1rem 0rem;
}


/* Header */

.header {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.5);
  top: 0px;
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease-out;
}

.header:hover {
  padding: .5rem 0rem;
  background-color: rgba(255, 255, 255, 1);
}

.logo span {
  color: black;
}

.logo img, .logo h1 {
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
}

.logo img {
  padding-left: 2rem;
}

.navigation {
  padding-right: 2rem;
  display: flex;
}

a.link {
  margin-left: 1rem;
  text-decoration: none;
  color: black;
  position: relative;
}

a.link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 750ms linear 0s;
}

a.link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


/* Section 1 */

.banner {
  background-image: url("../images/banner.jpg");
  background-size: cover;
  background-blend-mode: lighten;
  background-color: rgba(255, 255, 255, 0.2);
  max-width: 100%;
  height: 780px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.banner-content {
  text-align: center;
}

.banner-content span {
  color: black;
}

.learn-everyday {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  font-weight: bold;
  color: white;
  line-height: normal;
  padding: 0rem 1rem;
}

.learn-everyday h1 {
  font-size: 4.5rem;
  padding-bottom: 0.5rem;
  text-shadow: 4px 4px 5px black;
}

.learn-everyday h1 span {
  text-shadow: 4px 4px 5px grey;
}


.learn-everyday h3 {
  font-size: 1rem;
}

.start {
  margin: 3rem 0rem;
}

.start a {
  color: rgb(112, 112, 112);
  text-decoration: none;
  background-color: rgba(224, 224, 224, 1);
  border-radius: .5rem;
  padding: 1rem 5rem;
}

.start a:hover {
  background-color: rgba(255, 215, 000, 1);
  color: white;
}


/* Section 2 */

.section-2 {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.information.column {
  width: 60%;
  padding: 2rem 1.5rem;
}

.information.column img {
  width: 100%;
}

.text {
  width: 100%;
}

.text p {
  padding-top: 2rem;
}

a h5 {
  font-size: 0.75rem;
  padding: .5rem 0rem;
}

.info-boxes {
  width: 40%;
  margin-top: 1rem;
}

.info img {
  width: 35%;
  height: 35%;
}

.info {
  display: flex;
  padding: 1rem 1rem;
}

.info:hover {
  background-color: rgba(224, 224, 224, 1);
}

.date-time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  padding-left: 1rem;
}


/* Section 3 */

.section-3 {
  background-color: rgba(224, 224, 224, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.course-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem 1rem;
}

.course {
  background-color: white;
  width: 30%;
  margin: 1rem 1rem;
  box-shadow: 0 2px 4px 0 grey;
}

.course:hover {
    background-color: rgba(240, 240, 240, 1);
}

.course a {
  text-decoration: none;
}

.course img {
  width: 100%;
  height: auto;
}

.blurb {
  padding-left: 1rem;
}
.blurb p {
  color: rgb(112, 112, 112);
}


/* Section 4 */

.heading {
  text-align: center;
}

.thesis {
  display: flex;
  justify-content: center;
}

.thesis-boxes {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 1rem 0rem;
}

.thesis-info {
  display: flex;
  align-items: center;
}

.thesis-info:hover {
  background-color: rgba(224, 224, 224, 1);
}

.thesis-info img {
  width: 35%;
  height: auto;
  padding: 1rem 1rem;
}

.urban-text {
  width: 100%;
  padding-top: 1.5rem;
}

.urban-text p {
  padding-top: 0.5rem;
}

.video {
  margin: 2rem 1.5rem;
  width: 60%;
}

.video video {
  width: 100%;
  height: auto;
}

.thesis-text {
  width: 65%;
}


/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  border-top: thin solid lightgrey;
}

footer a {
  font-size: 0.75rem;
}

.copyright {
  font-size: 0.75rem;
}


/* Laptop and desktop screens */


/* Tablet in portrait */

@media only screen and (min-width:768px) {
  .tablet {
    display: none;
  }
}

@media only screen and (max-width:768px) {
  div.thesis-boxes {
    display: none;
  }
  .video {
    width: 100%;
  }
  .learn-everyday h1 {
    font-size: 3rem;
    padding-bottom: 1rem;
  }
  .learn-everyday {
    width: 100%;
  }


  .banner {
    height: 600px;
  }
  div.information {
    display: none;
  }
  .info, .date-time {
    flex-direction: column;
    align-items: center;
  }
  img.tablet {
    width: 80%;
  }
  .desktop {
    display: none;
  }
  .info-boxes {
    width: 100%;
    margin: 0rem;
  }

  .course {
    width: 45%;
  }

  .course-boxes {
    margin: 2rem 0rem;
  }
}


/* Mobile in portrait */

@media only screen and (max-width:620px) {
  div.course {
    display: none;
  }
  ul.navigation, div.logo {
    display: none;
  }
  .mobile {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0rem 1.5rem;
  }
  .section-3 {
    background-color: white;
  }
  .heading {
    padding-bottom: 1rem;
  }

  .section-4 .heading h2 {
    padding-top: 0rem;
  }
  .courses {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .courses li {
    background-color: rgba(224, 224, 224, 1);
    width: 90%;
    margin: 0.5rem;
    padding: 1rem;
  }
  .learn-everyday {
    width: 100%;
  }
}

@media only screen and (min-width:620px) {
  ul.mobile {
    display: none;
  }
}
